{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{{ user.username }}{% trans "'s Profile"%}{% endblock %}

{% block content %}
<div class="main-card">

    <h1 class="text-center mb-4">
        <span>{{ user.username }}</span>
    </h1>

    <div class="text-center mb-4">
    <img src="{{ user.avatar_url }}"
         alt="avatar"
         class="rounded-circle border shadow"
         width="140"
         height="140"
         style="object-fit: cover;">
</div>

    <div class="row mb-3">
        <div class="col-md-6 mb-3">
            <h5>{% trans 'First Name'%}</h5>
            <p class="p-3 rounded" style="background-color: rgba(255,255,255,0.08);">{{ user.first_name|default:"-" }}</p>
        </div>
        <div class="col-md-6 mb-3">
            <h5>{% trans 'Last Name'%}</h5>
            <p class="p-3 rounded" style="background-color: rgba(255,255,255,0.08);">{{ user.last_name|default:"-" }}</p>
        </div>
    </div>

    <div class="mb-3">
        <h5>{% trans 'Email'%}</h5>
        <p class="p-3 rounded" style="background-color: rgba(255,255,255,0.08);">{{ user.email|default:"-" }}</p>
    </div>

    <div class="mb-3">
        <h5>{% trans 'Bio'%}</h5>
        <p class="p-3 rounded" style="background-color: rgba(255,255,255,0.08);">{{ user.biography|default:"-" }}</p>
    </div>

    <div class="row mb-3">
        <div class="col-md-6 mb-3">
            <h5>{% trans 'Auction Hosted'%}</h5>
            <p class="p-3 rounded" style="background-color: rgba(255,255,255,0.08);">{{ user.auction_hosted }}</p>
        </div>
        <div class="col-md-6 mb-3">
            <h5>{% trans 'Auction Wins'%}</h5>
            <p class="p-3 rounded" style="background-color: rgba(255,255,255,0.08);">{{ user.auction_wins }}</p>
        </div>
    </div>

    <div class="mb-3">
        <h5>{% trans 'Last Info Changed'%}</h5>
        <p class="p-3 rounded" style="background-color: rgba(255,255,255,0.08);">{{ user.last_info_changed }}</p>
    </div>

    <div class="text-center mt-4">
        {% if request.user.is_authenticated and request.user.pk == user.pk %}
            <a href="{% url 'user-edit' user.pk %}" class="btn btn-info me-2">{% trans 'Edit Profile'%}</a>
        {% endif %}
    </div>
</div>

<div class="main-card">
    <div class="text-center mt-4">
        <a href="{% url 'user-items' user.pk %}" class="btn btn-light me-2">{{ user.username }}{% trans '`s items'%}</a>
    </div>
</div>
{% endblock %}
